@using App.Domain.Core.Dtos.Products;
@model List<CategoryDto>
<div class="main-menu">
    <div class="container">
        <nav>
            <span class="responsive-sign"><i class="zmdi zmdi-menu"></i></span>
            <ul>
                @foreach (var group in Model.Where(g => g.ParentId == null))
                {
                    <li>
                        <a href="/Product?selectedGroups=@group.Id"> @group.Name </a>
                        @if (Model.Any(g => g.ParentId == group.Id))
                        {
                            <ul>
                                @foreach (var sub in Model.Where(g => g.ParentId == group.Id))
                                {
                                    <li><a href="/Product?selectedGroups=@sub.Id"> @sub.Name </a></li>
                                }
                            </ul>
                        }
                    </li>
                }
            
            </ul>
        </nav>
    </div>
</div>