
@{
    ViewData["Title"] = "خانه";
}

@section SearchBox
{
    <header>
        @* <a href="" class="logo"><img src="/images/logo.JPG"></a> *@
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <h1> با ما بهترین خرید را تجربه کنید </h1>
        <h3> در مزایده شرکت کن و با کیفیت ترین را بخر </h3>
    </header>
    <div class="search-form">
        <form>
            <input type="text" name="" placeholder="چی دوست داری بخری ؟">
            <button><i class="zmdi zmdi-search"></i></button>
        </form>
    </div>
}
<main id="home-page">
    <div class="container">
        <section class="terms-items">
            <header>
                <h2> تخفیف های شگفت انگیز </h2>
                <a href=""> مشاهده همه </a>
            </header>
            <div class="row">
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/1.JPG"></a>
                        <h2><a href=""> خرید </a></h2>
                        <span> رایگان </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/2.JPG"></a>
                        <h2><a href=""> خرید </a></h2>
                        <span> رایگان </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/3.JPG"></a>
                        <h2><a href=""> خرید </a></h2>
                        <span> 150.000 تومان </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/4.JPG"></a>
                        <h2><a href=""> خرید </a></h2>
                        <span> رایگان </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/5.JPG"></a>
                        <h2><a href=""> خرید </a></h2>
                        <span> 15.000 تومان </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/6.JPG"></a>
                        <h2><a href=""> خرید </a></h2>
                        <span> رایگان </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/7.JPG"></a>
                        <h2><a href=""> خرید </a></h2>
                        <span> 20.000 تومان </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/8.JPG"></a>
                        <h2><a href=""> خرید </a></h2>
                        <span> 75.000 تومان </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
            </div>
        </section>

        <hr>

        <section class="terms-items">
            <header>
                <h2> مزایده های امروز </h2>
                <a href=""> مشاهده همه  </a>
            </header>
            <div class="row">
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/1.JPG"></a>
                        <h2><a href=""> خرید </a></h2>
                        <span> رایگان </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/2.JPG"></a>
                        <h2><a href=""> خرید </a></h2>
                        <span> رایگان </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/3.JPG"></a>
                        <h2><a href=""> خرید </a></h2>
                        <span> 150.000 تومان </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/4.JPG"></a>
                        <h2><a href=""> خرید </a></h2>
                        <span> رایگان </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/5.JPG"></a>
                        <h2><a href=""> خرید </a></h2>
                        <span> 15.000 تومان </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/6.JPG"></a>
                        <h2><a href=""> خرید </a></h2>
                        <span> رایگان </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/7.JPG"></a>
                        <h2><a href=""> خرید </a></h2>
                        <span> 20.000 تومان </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                    <article>
                        <a href="" class="img-layer"><img src="/images/pic/8.JPG"></a>
                        <h2><a href=""> خرید </a></h2>
                        <span> 75.000 تومان </span>
                        <i>1:52:32</i>
                    </article>
                </div>
                <!-- /col -->
            </div>
        </section>
    </div>
</main>

