
@{
    ViewData["Title"] = "خانه";
}

@section SearchBox
{
    <header>
        @* <a href="" class="logo"><img src="/images/logo.JPG"></a> *@
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        @if (@ViewBag.SetBid != null)
        {
            <div class="alert alert-danger">قیمت داده شده بالاتر از آخرین قیمت نیست</div>
        }
        <h1> با ما بهترین خرید را تجربه کنید </h1>
        <h3> در مزایده شرکت کن و با کیفیت ترین را بخر </h3>
    </header>
    <div class="search-form">
        <form asp-action="Index" asp-controller="Product">
            <input type="text" name="filter" placeholder="چی دوست داری بخری ؟">
            <button><i class="zmdi zmdi-search"></i></button>
        </form>
    </div>
}
<main id="home-page">
    <div class="container">
        <section class="terms-items">
            @if (@ViewBag.SetBid != null)
            {
                <div class="alert alert-danger">قیمت داده شده بالاتر از آخرین قیمت نیست</div>
            }
            <header>
                <h2> تخفیف های شگفت انگیز </h2>
                <a href="/product/index"> مشاهده همه </a>
            </header>
            <div class="row">
             
                    @await Component.InvokeAsync("AuctionProductsComponent", new {id = 1})
            
            </div>
        </section>

        <hr>

        <section class="terms-items">
            <header>
                <h2> مزایده های امروز </h2>
                <a href=""> مشاهده همه  </a>
            </header>
            <div class="row">

           @await Component.InvokeAsync("AuctionProductsComponent", new {id = 2})
            </div>
        </section>
    </div>
</main>

@section Scripts
    {
    <script>
        $(document).ready(function () {
        $(".setPrice").click(function () {
            var current2 = $(this).attr("Id");
            $("#AuctionId").val(current2);
        });
        });
    </script>
}

