@using App.Domain.Core.Dtos.Admin;
@model ProductAdminDto;
@{
    var photopath = "~/images/" + Model.ImagePath.First();
}
<br /><br /><br />
<h1>ویرایش کالا</h1>


<div class="mt-6">
<form method="post"  class="m-8 mt-10" enctype="multipart/form-data" style="border:solid gray 2px padding:20px">
    <input hidden asp-for="Id" />
    <div class="form-group row mb-2 ">
        <label  class="col-sm-2 col-form-label ">نام کالا
        </label>
        <div class="col-sm-8">
            <input asp-for="Name" class="form-control " placeholder="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row mb-2 ">
        <label  class="col-sm-2 col-form-label">نام فروشگاه
        </label>
        <div class="col-sm-8">
            <input asp-for="BoothName" class="form-control" placeholder="Barcode" />
        </div>
    </div>
    <div class="form-group row mb-2  ">
        <label  class="col-sm-2 col-form-label">قیمت
        </label>
        <div class="col-sm-8">
            <input type="number" asp-for="price" class="form-control" placeholder="Price" />
        </div>
    </div>
    <div class="form-group row mb-2  ">
        <label  class="col-sm-2 col-form-label">توضیحات
        </label>
        <div class="col-sm-8">
            <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
        </div>
    </div>
    <div class="form-group row mb-2  ">
        <label  class="col-sm-2 col-form-label">تغییر عکس
        </label>
        <div class="col-sm-8">
            <div class="custom-file">
                    <input type="file" name="photo" class="custom-file-input form-control" />

            </div>
        </div>
    </div>

    <div class="form-group row col-sm-4 offset-4">
        <img class="card-img-top imageThumbnail" src="@photopath" asp-append-version="true" />
    </div>
    <div class="form-group row mb-2">

        <div class="col-sm-8">
                <input type="submit" value="ویرایش اطلاعات" class="btn btn-primary">
            <a  class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>
</div>