@using App.Domain.Core.Dtos.Products;

@model BoothProductDto



    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
        <article>
        <a href="/Product/detail/@Model.Id" class="img-layer"><img src="/images/@Model.ProductImages.First().Image.ImagePath" style="height: 170px"></a>
        <a href="/Product/detail/@Model.Id"><b>@Model.Product.Name</b></a><br />
        <a href="/Product/detail/@Model.Id">@Model.Both.Name</a>
            <h2><a href="/product/buyProduct/@Model.Id"> خرید </a></h2>
            <span>  قیمت : @Model.Price </span>
            <i></i>
        </article>
    </div>

