   <div class="main-menu">
    <div class="container">
        <nav>
            <span class="responsive-sign"><i class="zmdi zmdi-menu"></i></span>
            <ul>
                <li><a href="">غرفه ها </a></li>

                <li>
                    <a href=""> محصولات دیجیتال </a>
                    <ul>
                        <li><a href="">موبایل </a></li>
                        <li><a href=""> لپ تاپ </a></li>
                        <li><a href=""> کنسول بازی </a></li>
                    </ul>
                </li>
                <li>
                    <a href="">خانه مد </a>
                    <ul>
                        <li><a href=""> پوشاک </a></li>
                        <li><a href=""> کفش </a></li>
                        <li><a href=""> اکسسوری </a></li>
                        <li><a href=""> ساعت </a></li>
                    </ul>
                </li>
                <li><a href=""> خانه و آشپزخانه </a></li>
                <li>
                    <a href="">زیبایی و سلامت </a>
                    <ul>
                        <li><a href=""> مراقبت پوست </a></li>
                        <li><a href=""> عطر و ادکلن </a></li>
                        <li><a href=""> مراقبت مو </a></li>
                      
                    </ul>
                </li>
                <li><a href=""> کودک </a></li>
                <li><a href=""> برنده ها </a></li>
            </ul>
        </nav>
    </div>
</div>