@using App.Domain.Core.Contracts.AppServices;
@using App.Domain.Core.Dtos.Users;
@inject ICustomerAppService _customerService;
@{
    CustomerDto user = await _customerService.GetCustomerInformation(User.Identity.Name, default);
}

<div class="col-md-3 col-sm-4 col-xs-12">
    <aside>

        <div class="avatar-layer">
            <div class="img-layer">
                <a href="" class="change-image"><i class="zmdi zmdi-edit"></i></a>
                <img src="images/@user.Image.ImagePath">
            </div>
            <div class="detail">
                <span> @(user.Name + " " +user.Lastname )</span>
                <span> ایمل : @user.Email </span>
            </div>
        </div>

        <section>
            <header><h3> میز کار </h3></header>
            <div class="inner">
                <ul>
                    <li><a href="/UserPanel"> مشاهده حساب کابری </a></li>
                    <li><a href="/UserPanel/EditProfile"> ویرایش حساب کابری </a></li>
                    <li><a href="/UserPanel/ChangePassword"> تغییر رمز عبور </a></li>
                    <li><a href="/UserPanel/Wallet"> کیف پول شما </a></li>
                    <li><a href=""> تنظیمات حساب کاربری </a></li>
                    <li><a href="/Logout"> خروج از حساب کاربری </a></li>
                </ul>
            </div>
        </section>
    </aside>
</div>