@using App.Endpoints.MVC.Areas.Seller.Models;

@model AddAuctionViewModel

<br />
<br />
<br />
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">اضافه کردن کالا به مزایده</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="mt-6">

    <form method="post" class="m-8 mt-10" enctype="multipart/form-data" style="border:solid gray 2px padding:20px">
        <input hidden asp-for="BoothProductId" />
        <div asp-validation-summary="All" class="text-danger">
        </div>
        <div class="form-group row mb-2 ">
            <label class="col-sm-2 col-form-label">
                مدت مزایده به ساعت
            </label>
            <div class="col-sm-8">
                <input asp-for="Duration" class="form-control" placeholder="duration" />
            </div>
        </div>
        <div class="form-group row mb-2  ">
            <label class="col-sm-2 col-form-label">
                 قیمت پایه
            </label>
            <div class="col-sm-8">
                <input type="number" asp-for="MinPrice" class="form-control" placeholder="Price" />
            </div>
        </div>




     
        <div class="form-group row mb-2">

            <div class="col-sm-8">
                <input type="submit" value="اضافه کردن کالا به مزایده" class="btn btn-primary">
                <a href="/seller/home" class="btn btn-primary">بازگشت</a>
            </div>
        </div>
    </form>
</div>
