@using App.Domain.Core.Dtos.Products;
@model List<BoothProductDto>;



<div class="panel-body">
    <h2>فروشگاه @Model.First().Both.Name</h2>
    <hr />
    <div class="card-deck row">
  
        @foreach (var item in Model)
        {
            <div class="col-md-4 mt-4 border-1">
                <br />
                @{
                    var photopaths = "~/images/" + @item.ProductImages.Select(c => c.Image.ImagePath).First().ToString();
                }
                <div class="card m-3" style="min-width: 18rem;max-width: 20.5%">
                    <div class="card-header ">
                        <h3>@item.Product.Name</h3>

                    </div>
                    <img class="card-img-top imageThumbnail" src=@photopaths
                         asp-append-version="true" />

                    <div class="card-body mt-1">
                        قیمت :  @item.Price <br /><br />
                        <h2><a href="/product/buyProduct/@item.Id"> خرید </a></h2>
                       <hr/>

                    </div>

                    <div class="card-footer">
                      
                    </div>
                </div>
            </div>
        }
    </div>
    </div>
